//*===== banner area start ====*//
.banner-area {
    .banner-slider {
        height: 100%;
        position: relative;
        .swiper-wrapper {
            .swiper-slide {
                height: 200px;
                @extend %flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                width: 100%!important;
                @include breakpoint (sm) {
                    height: 300px;
                }
                @include breakpoint (lg) {
                    height: 450px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
                .banner-content {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    h3 {
                        margin: 0;
                        color: $white-color;
                        @include breakpoint (max-sm) {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
    .swiper-button-next, .swiper-button-prev {
        @include breakpoint (max-lg) {
            display: none;
        }
    }
    .card-slider {
        height: 142px;
        @include breakpoint (lg) {
            height: 216px;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    &.style-one {
        .banner-position {
            @extend %flex;
            justify-content: center;
            align-items: center;
            min-height: 200px;
            background: center;
            background-position: center;
            background-image: url(../../assets/images/banner/04.jpg);
            @include breakpoint (sm) {
                min-height: 400px;
            }
            .banner-content {
                h4 {
                    margin: 0;
                    color: $white-color;
                    text-align: center;
                }
                ul.banner-manu {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    li {
                        margin: 5px;
                        a {
                            color: $white-color;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    &.style-two {
        .banner-position {
            background-image: url(../../assets/images/banner/05.jpg);
            .banner-content {
                h3 {
                    color: $white-color;
                    margin-bottom: 20px;
                    text-align: center;
                }
                form.search-key {
                    @extend %flex;
                    align-items: center;
                    width: 250px;
                    margin: 0 auto;
                    @include breakpoint (md) {
                        width: 500px;
                    }
                    @include breakpoint (sm) {
                        width: 400px;
                    }
                    input {
                        width: 80%;
                        height: 50px;
                        padding: 10px;
                        padding-left: 20px;
                        border: 1px solid $border-color;
                        border-radius: 25px 0 0 25px;
                        &::placeholder {
                            font-size: 14px;
                        }
                    }
                    button.btn {
                        width: 20%;
                        height: 50px;
                        border-radius: 0 25px 25px 0;
                    }
                }
            }
        }
    }
    &.style-three {
        position: relative;
        img {
            width: 100%;
        }
        .banner-position {
            min-height: 0;
            background-image: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .banner-content {
                a.btn {
                    background: $white-color;
                    @include breakpoint (md) {
                        padding: 12px 30px;
                    }
                    @include breakpoint (lg) {
                        padding: 20px 60px;
                    }
                    span {
                        font-size: 16px;
                        color: #000;
                        @include breakpoint (mobile) {
                            font-size: 10px;
                        }
                    }
                    .btn-ripple {
                        background: rgb(235, 209, 94);
                    }
                }
            }
        }
    }
    &.style-four {
        min-height: 200px;
        background-size: cover;
        background-position: center;
        background-image: url(../../assets/images/banner/06.jpg);
        @include breakpoint (md) {
            min-height: 450px;
        }
        .banner-position {
            background-image: none;
        }
    }
}
//*===== banner area End ====*//

//*=== page header css start ===*//
.page-header {
    .page-linker {
        padding: 20px 0;
        ul {
            margin: 0;
            @extend %flex;
            justify-content: flex-start;
            align-items: center;
            li {
                list-style: none;
                span {
                    font-size: 12px;
                    color: #979797;
                    padding: 0 5px;
                    display: inline-block;
                }
            }
            a {
                color: #979797;
                font-size: 12px;
                text-decoration: none;
                &.active {
                    font-weight: 500;
                    color: $theme-color;
                }
            }
        }
    }
}
//*=== page header css start ===*//