//*===== banner area start ====*//
.banner-area {
    .banner-slider {
        height: 100%;
        position: relative;
        .swiper-wrapper {
            .swiper-slide {
                min-height: 400px;
                @extend %flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                width: 100%!important;
                @include breakpoint (md) {
                    max-height: 400px;
                }
                .banner-content {
                    text-align: center;
                    h3 {
                        margin: 0;
                        color: $white-color;
                        @include breakpoint (max-sm) {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
    .card-slider {
        img {
            width: 100%;
            max-height: 192px;
        }
    }
    &.style-one {
        .banner-slider {
            .swiper-wrapper {
                .swiper-slide {
                    min-height: 515px;
                }
            }
        }
    }
}
//*===== banner area End ====*//

//*=== page header css start ===*//
.page-header {
    .page-linker {
        padding: 20px 0;
        ul {
            margin: 0;
            @extend %flex;
            justify-content: flex-start;
            align-items: center;
            li {
                list-style: none;
                span {
                    font-size: 12px;
                    color: #979797;
                    padding: 0 5px;
                    display: inline-block;
                }
            }
            a {
                color: #979797;
                font-size: 12px;
                text-decoration: none;
                &.active {
                    font-weight: 500;
                    color: $theme-color;
                }
            }
        }
    }
}
//*=== page header css start ===*//